@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7874F2;
    width: 100%;
    height: 100vh;
}

.Sub-container1 {
    width: 410px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.Sub-container1 h1 {
    color: #7874F2;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
}

.Sub-container1 p {
    color: #474747;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.Sub-container1 .form input {
    width: 100%;
    height: 50px;
    outline: none;
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: 15px;
    color: #333;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #999;
    margin-bottom: 20px;
}

.Sub-container1 .form input:focus {
    border: 1px solid #7874F2;
}   

.Sub-container1 .form button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7874F2;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.Sub-container1 .form button:active {
    background-color: rgb(127, 80, 255);
}

.Sub-container2 {
    width: 410px;
    height: 0px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 20px 60px;
    margin-bottom: 30px;
    /* display: none; */
    opacity: 0;
    transition: 0.2s ease-out;
    /* transform: scale(0.5); */
}

.Sub-container2.active {
    height: 300px;
    /* transform: scale(1); */
    opacity: 1;
    /* display: block; */
}

.Sub-container2 img {
    width: 170px;
    height: 170px;
    transition: 0.2s ease-out;
    transform: scale(0.01);
}

.Sub-container2.active img {
    
    transform: scale(1);
}

.Sub-container2 .qr-code {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 33px auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* opacity: 0; */
    pointer-events: none;
}

.Sub-container2 button {
    background-color: #7874F2;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    transition: 0.4s ease-out;
    cursor: pointer;
}

.Sub-container2.active button {
    transition: 0.4s ease-out;
    opacity: 1;
}

.Sub-container2.active button:active{
    transform: scale(0.9);
} 

@media screen and (max-width: 400px) {
    .Sub-container1 {
        width: 310px;
    }
    .Sub-container2 {
        width: 310px;
    }
}
